.wrapper {
    background: rgba(206, 171, 107, 0.2);
    min-width: 100%;
    min-height: 100%;
    margin: 1em;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;


 }
.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.conteiner1 {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 40%;
    margin: 1.5em;
    flex-wrap: wrap;


}

.conteiner1 > div {

    display: flex;
    flex:  1 200px;
    border: greenyellow solid 5px;
    background-color: gainsboro;
    width: 15vw;
    margin: 1.5em;
    height: 15em;
    color: snow;
    padding: 2em;
    position: relative;


}
.hatFoot {
    display: flex;
    background-color: gainsboro;
    height: 3vh;
    padding: 2em;
    color: snow;
    justify-content: center;
    border: greenyellow solid 5px;
}

.conteiner2 {
    position: relative;
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 60%;
    flex-wrap: wrap;
    margin: 1.5em;



}

.conteiner2 > div {
    display: flex;
    flex:  1 200px;
    border: greenyellow solid 5px;
    background-color: gainsboro;
    width: 15vw;
    margin: 1.5em;
    height: 15em;
    color: snow;
    padding: 2em;


}